<h1 class="animated fadeIn fast">App sobre Heroes de Marvel</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet mollitia soluta sapiente repellendus doloribus obcaecati voluptatem reprehenderit aut accusantium sint, deleniti vitae modi dicta vero dolorum excepturi distinctio nulla! Quibusdam.
    Et, aperiam tempore. Alias distinctio consequatur, dolor dolores, quos quibusdam reiciendis soluta quaerat nam accusamus inventore mollitia illo quo obcaecati aliquid, ex ad cumque qui quae ducimus eos doloribus sint?
    Asperiores voluptate officia reiciendis ad molestias adipisci a pariatur dicta, quos suscipit, numquam hic aliquam, impedit labore sunt veritatis amet consequuntur cumque. Magni laudantium quia aliquid ratione, impedit voluptatum dicta.
    Vitae quam dicta nulla officiis, reprehenderit quaerat? Accusantium, labore eligendi ipsam quis vitae laborum, culpa reiciendis a similique ratione alias maxime dolore necessitatibus temporibus laboriosam odit rem perferendis doloremque commodi.
    Neque voluptate quam veniam consequuntur autem suscipit optio aperiam, omnis voluptates delectus ipsa ratione est, distinctio culpa odio quo consectetur aliquid reiciendis quod vero? Aliquam corrupti necessitatibus eos repudiandae iure.
</p>