<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-3">Heroes App</h1>
        <p class="lead">Esta es una aplicacion de heroes.</p>
    </div>
</div>
<hr>

<div class="animated fadeIn">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, unde. Minima ipsa expedita pariatur sed at voluptatem! Aliquid iusto commodi dignissimos, natus quasi odit perferendis, dolores, dicta suscipit recusandae quas.
        Ex, pariatur natus ipsam non quo accusamus maxime nihil delectus et deleniti optio nemo quisquam beatae perferendis labore ullam sapiente mollitia facilis nulla velit incidunt totam a amet commodi. Blanditiis.
        Amet, impedit. Sit, similique repudiandae maxime reiciendis nulla sed quam aperiam suscipit totam asperiores, animi optio dolorum rem iure veritatis rerum aliquid, a fugiat cupiditate voluptatum consequatur esse et repellat.
        Unde, autem officia qui in quibusdam, neque nemo iusto, molestias alias dolor quisquam excepturi recusandae necessitatibus illum animi praesentium laudantium quaerat vitae? Aut, optio voluptatibus neque repudiandae itaque aliquid amet?
        Perspiciatis dolore repellat, dolores autem corporis repellendus quam reiciendis saepe explicabo odio deserunt a minima, delectus molestiae tempora odit cum excepturi fuga officia vitae placeat minus nulla. Illo, nisi quos?
        Laudantium exercitationem repellendus alias doloribus vitae nam recusandae, dolor consectetur veniam quis quod nobis dolore ea quasi earum qui pariatur suscipit aperiam, illo voluptatum dolorem corrupti doloremque! Dolorum, laboriosam ad?
        Fuga suscipit ex ea delectus voluptate minima error cum voluptates quae, dignissimos dolore hic in accusamus consequatur tempora ducimus.<br> 
    </p>
    <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iusto culpa deleniti, sapiente, quam mollitia sed placeat doloremque dolorum ut tempora delectus at. Id suscipit repudiandae molestias ad est temporibus.
            Quo non consequatur distinctio quos id, voluptatibus beatae iusto perferendis, repellat porro iure inventore, libero dolorum officia sit ducimus fugit explicabo. Autem obcaecati vitae atque voluptas eos dolore, harum ab.
            Ea iure deleniti architecto incidunt voluptates, quas maxime odio porro omnis facilis saepe dignissimos magni consequuntur ipsam mollitia! Eos eaque minus debitis soluta tempora cupiditate ipsa necessitatibus vitae inventore enim.
            Quibusdam repellendus vero animi magnam? Sunt deleniti similique voluptatibus commodi nemo tempora alias, soluta architecto? Aut, laudantium culpa placeat aperiam ullam suscipit ex et hic possimus minima quasi at nesciunt!
            Amet, harum quisquam? Ullam quis ipsa atque, dolores voluptates quos dolorum voluptas numquam! Neque nisi possimus, maxime inventore fugit, rem repellendus quae excepturi corrupti quod est repellat impedit tenetur ab?
    </p>
   
</div>
 